:root {
  --color-dominant: #f4f2e7;
  --color-secondary: #40712c;
  --color-accent: #d4e3a9;
  
  --text-on-dominant: #496831;
  --text-on-secondary: #ffffff;
  --text-on-accent: #1f1029;

  --background: url('/images/tiles.PNG');
}
a {
    text-decoration: none;
}

body {
    /* background-color: var(--color-dominant); */
    background-image: var(--background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    background-color: var(--color-secondary);
    color: var(--text-on-secondary);

    text-align: center;
    box-shadow: rgb(73, 73, 73, 0.5) 0px 0px 10px ;
    border-radius: 50px;
    position: fixed;
    width: 100vw;
}


#header h1 {
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

#header h2 {
    font-size: 15px;
    margin-top: -30px;
    margin-bottom: 30px;
}

#sidebar {
    background-color: var(--color-accent);
    max-width: 200px;
    flex: 1 1 0;
    padding-top:50px;
}

.sideNav {
    list-style-type:circle;
}

.sideNav li {
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(193, 193, 193);
    max-width: 75%;
    color: var(--text-on-accent);
}

.sideHeader{
    background-color: var(--color-accent);
    text-align: center;
    padding: 5px 0 5px 0;
    box-shadow: rgb(73, 73, 73, 0.5) 0px 2px 5px ;
    background-color:var(--color-dominant);
    color: var(--text-on-dominant);
    font-size: 20px;
    margin: 0 -15px 0 -15px;
}



#main {
    display: flex;
    background-color: var(--color-dominant);
    max-width: 1000px;
    margin: auto;
    padding-top: 125px;
    border: solid var(--color-secondary) 1px;

    box-shadow: rgb(73, 73, 73, 0.5) 0px 0px 10px ;
    

}



#center {
    flex: 1 1 0;

    padding-top:50px;
}

.introduction {
    display: flex;
    align-items: center;
}

.img-placeholder {
    width: 300px;
    height: 200px;
    background-color: rgb(125, 125, 125);
    margin: 50px;
}

.introduction p {
    flex: 1 1 0;
    margin: 50px 0px 50px 50px;
    text-align: right;
    
}

.bigButtons {
    display: flex;
    margin: 50px;
    flex-direction: column;
}
.SpriteWork {
    background-image: url(/images/sprites/adastreia_thumbnail.jpg);
    height: 200px;
    width: 70%;
    background-position: 0 -75px;
    flex-shrink: 1;
    margin-left: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.Illustrations{
    background-image: url(/images/illustrations/ogen_2021.jpg);
    background-size: cover;

    background-position: 0 -170px;
    height: 200px;
    width: 70%;
    flex-shrink: 1;
    margin-right: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}


.VideoArt{
    background-image: url(/images/video_art/sunshineisbrief_thumbnail.jpg);
    background-size: cover;
    height: 200px;
    width: 70%;
    flex-shrink: 1;
    margin-left: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.Modeling{
    background-image: url(/images/3D_modeling/surrealworld_thumbnail.jpg);
    background-size: cover;
    height: 200px;
    width: 70%;
    flex-shrink: 1;
    margin-right: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}


#footer {
    background-color: var(--color-secondary);
    color: var(--text-on-secondary);
    text-align: center;
    padding: 20px;
    margin: 0 -10px -10px -10px;
    line-height: 0.5;
    font-size: small;
}

.bigButtons h3 {
    font-style: italic;
    font-weight: 800;
    font-size: x-large;
    background-color: var(--color-secondary);
    color: var(--text-on-secondary);
    padding: 5px 30px 5px 30px;
}

.center_flex{
    display:flex;
    padding: 50px;
    align-items: center;
}
.left {
    flex: 1 1 0;
    margin-right: 15px;

}

.right{
    flex: 1 1 0;
    
h2{
    background-color: var(--color-accent);
    padding: 10px;
    color: var(--text-on-accent);
}