:root {
  --color-dominant: #f2f4f0;
  --color-secondary: #496831;
  --color-accent: #c5d2bb;
  
  --text-on-dominant: #496831;
  --text-on-secondary: #ffffff;
  --text-on-accent: #000000;
}

body {
    background-color: var(--color-dominant);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.branch_right_overlay {
    position:fixed;
    right:0px;
    top:0px;
    z-index:9999;
}

.branch_left_overlay {
    position:fixed;
    left:0px;
    top:0px;
    z-index:9999;
}
.main-page {
    height: 100vh;
}

#header {
    background-color: rgb(195, 210, 195);
}

.sideNav {
    list-style-type: none;
}

.sideNav li {
    margin: 0 0 10px 0;
    padding-bottom: 5px;;
    border-bottom: 1px solid rgb(193, 193, 193);
    max-width: 75%;
}

.sideHeader{
    background-color: var(--color-accent);
    text-align: center;
    margin: 15px;
    padding: 5px 0 5px 0;
    box-shadow: lab(0% 0 0 / 0.2) 5px 5px ;
    border: solid lab(100% 0.01 -0.01 / 0.2) 2px;

    color: var(--text-on-accent);
}

.logo {
    text-align: center;
}


#main {
    display: flex;
    background-color: var(--color-dominant);
    max-width: 1000px;
    margin: auto;
    margin-top: 125px;

    box-shadow: hsla(0, 0%, 61%, 0.5) 0px 0px 10px ;

}

#sidebar {
    background-color: var(--color-accent);
    max-width: 200px;
    flex: 1 1 0;
    /* height: 500px; */
}


#center {
    flex: 1 1 0;;
}

.introduction {
    display: flex;
}

.img-placeholder {
    width: 400px;
    height: 300px;
    background-color: rgb(125, 125, 125);
    margin: 50px;
}

.introduction p {
    flex: 1 1 0;
    margin: 50px 0px 50px 50px;
}

.bigButtons {
    display: flex;
    margin: 50px;
    flex-direction: column;
}
.SpriteWork {
    background-color: chartreuse;
    height: 200px;
    width: 70%;
    flex-shrink: 1;
    margin-left: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.Illustrations{
    background-color: chartreuse;
    height: 200px;
    width: 70%;
    flex-shrink: 1;
    margin-right: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}


.Animations{
    background-color: chartreuse;
    height: 200px;
    width: 70%;
    flex-shrink: 1;
    margin-left: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.VideoArt{
    background-color: chartreuse;
    height: 200px;
    width: 70%;
    flex-shrink: 1;
    margin-right: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.Modeling{
    background-color: chartreuse;
    height: 200px;
    width: 70%;
    flex-shrink: 1;
    margin-left: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}